

.imageGrid {
    display: grid;
    grid-template-rows: 1 fr ;
    grid-template-columns: 1fr 1fr 1fr;
    
}


img {
    width: 400px;
    height: 500px;
}

.productCard {
    border: solid 1px black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

