

.imageGrid {
    display: grid;
    grid-template-rows: 1 fr ;
    grid-template-columns: 1fr 1fr 1fr;
    
}


img {
    width: 350px;
    height: 450px;
}

.productCard {
    border: solid 1px black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.searchImg {
    margin: 20px;
    padding: 10px;
   
    border-radius: 3px;
}

.button {
    padding: 10px;
   
    border-radius: 3px;
}

.priceRange {
    
    margin: 10px;
    padding: 10px;
}

